@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>


<br />
<p style="font-size:2vw">
    Rexburg University Website Built By: <br />
    Milan Karki<br />
    For: CIT 365<br />
    FROM: Nepal
</p>

<br/>

@{
    ViewData["Title"] = "Student Body Statistics FOR RU";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                @item.StudentCount
                </td>
            </tr>
    }
</table>