@{
    ViewData["Title"] = "RU - Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Rexburg University</h2>
        <img src="img/main.jpg" alt="Uni" width="1000" height="600" >
    </div>

</div>